* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    width: 960px;
    height: 960px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
}

.div-grid {
    border: 1px solid black;
}

#header {
    display: flex;
    justify-content: center;
    margin: 60px;
}

#header button {
    padding: 30px 40px;
    font-size: large;
}